 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 216px;
}

.u-section-1 .u-text-1 {
  margin: 55px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1332px;
}

.u-section-2 .u-image-1 {
  height: 573px;
  margin: 0;
}

.u-section-2 .u-group-1 {
  width: 790px;
  min-height: 856px;
  background-image: none;
  height: auto;
  margin: -296px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-2 .u-text-3 {
  width: 508px;
  line-height: 2;
  font-size: 1.375rem;
  margin: 45px auto 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  background-image: none;
  border-style: solid;
  align-self: center;
  margin: 60px auto 0;
  padding: 17px 46px 17px 45px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.2667em;
  vertical-align: 0px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: -589px calc(((100% - 1140px) / 2)  + -28px) 0 calc(((100% - 1140px) / 2)  + 965px);
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 620px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + -28px);
    margin-left: calc(((100% - 940px) / 2) + 865px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + -28px);
    margin-left: calc(((100% - 720px) / 2) + 755px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + -28px);
    margin-left: calc(((100% - 540px) / 2) + 665px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    width: 320px;
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + -28px);
    margin-left: calc(((100% - 340px) / 2) + 565px);
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 443px;
}

.u-section-3 .u-slider-1 {
  min-height: 375px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-3 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-3 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 147px;
}

.u-section-4 .u-gallery-1 {
  height: 134px;
  width: 418px;
  margin: 7px auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-gap: 10px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 0;
  --effect-scale: 1;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 0;
  --effect-scale: 1;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-4 .u-gallery-item-3 {
    --effect-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-4 .u-gallery-1 {
    height: 402px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-gallery-1 {
    height: 1206px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    width: 340px;
    height: 981px;
  }
}